.player-grid {
  display: grid;
  grid-template-areas: "shuffle game";
  grid-template-columns: 1fr 3fr;
}

.player-grid .shuffle {
  grid-area: shuffle;
}

.player-grid .shuffle button {
  padding: 20px;
  background-color: #06375c;
  border: 3px black solid;
  border-radius: 3px;
  color: white;
  font-weight: 600;
  padding: 15px 32px;
  text-align: center;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

.player-game {
  grid-area: game;

  display: grid;
  grid-template-areas:
    "a1 a2 a3 a4"
    "b1 b2 b3 b4"
    "c1 c2 c3 c4"
    "d1 d2 d3 d4";
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;

  width: 463px;
  border: 2px white solid;
}

.player-game img {
  cursor: pointer;
}

.player-grid .a1 {
  grid-area: a1;
}

.player-grid .a2 {
  grid-area: a2;
}

.player-grid .a3 {
  grid-area: a3;
}

.player-grid .a4 {
  grid-area: a4;
}

.player-grid .b1 {
  grid-area: b1;
}

.player-grid .b2 {
  grid-area: b2;
}

.player-grid .b3 {
  grid-area: b3;
}

.player-grid .b4 {
  grid-area: b4;
}

.player-grid .c1 {
  grid-area: c1;
}

.player-grid .c2 {
  grid-area: c2;
}

.player-grid .c3 {
  grid-area: c3;
}

.player-grid .c4 {
  grid-area: c4;
}

.player-grid .d1 {
  grid-area: d1;
}

.player-grid .d2 {
  grid-area: d2;
}

.player-grid .d3 {
  grid-area: d3;
}

.player-grid .d4 {
  grid-area: d4;
}
