.grid {
  display: grid;
  grid-template-areas:
    "a1 a2 a3"
    "b1 b2 b3"
    "c1 c2 c3";
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  border: 2px white solid;
}

.grid img {
    cursor: pointer;
}

.a1 {
  grid-area: a1;
}

.a2 {
  grid-area: a2;
}

.a3 {
  grid-area: a3;
}

.b1 {
  grid-area: b1;
}

.b2 {
  grid-area: b2;
}

.b3 {
  grid-area: b3;
}

.c1 {
  grid-area: c1;
}

.c2 {
  grid-area: c2;
}

.c3 {
  grid-area: c3;
}
