.computer-game {
  grid-area: game;

  display: grid;
  grid-template-areas:
    "a1 a2 a3"
    "b1 b2 b3"
    "c1 c2 c3";
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;

  width: 460px;
  border: 2px white solid;
}

.computer-grid .a1 {
  grid-area: a1;
}

.computer-grid .a2 {
  grid-area: a2;
}

.computer-grid .a3 {
  grid-area: a3;
}

.computer-grid .b1 {
  grid-area: b1;
}

.computer-grid .b2 {
  grid-area: b2;
}

.computer-grid .b3 {
  grid-area: b3;
}

.computer-grid .c1 {
  grid-area: c1;
}

.computer-grid .c2 {
  grid-area: c2;
}

.computer-grid .c3 {
  grid-area: c3;
}
