html {
  background-color: #282c34;
}

.App {
  display: grid;
  grid-template-areas: "player-console . computer-console";
  grid-template-columns: 2fr 200px 2fr;

  min-height: 100vh;
  padding: 100px 50px;
  color: white;
}

@media screen and (max-width: 1450px) {
  .App {
    grid-template-areas:
      "player-console"
      "computer-console";
    grid-template-columns: 1fr;
  }
}
.player-console {
  grid-area: player-console;
}

.computer-console {
  grid-area: computer-console;
}
