.App {
  display: grid;
  grid-template-areas: "player computer";
  grid-template-columns: 1fr 1fr;

  min-height: 100vh;
  padding: 100px;

  background-color: #282c34;
  color: white;
}

.player {
  grid-area: player;
}

.computer {
  grid-area: computer;
}
